{% extends 'base.html' %} {% block content %}

<div class="p-3">
    <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="simpleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Elige una opción:
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li>
                <a href="#" class="dropdown-item btn btn-outline-light" id="c_doc" onclick="cambiarF()">Ingresar Frase</a>
            </li>
            <li>
                <a href="#" class="dropdown-item btn btn-outline-light" id="frase" onclick="cambiarC()">Cargar Colección</a>
            </li>
            <li>
                <a href="#" class="dropdown-item btn btn-outline-light" id="frase" onclick="cambiarD()">Cargar Documento</a>
            </li>
        </ul>
    </div>    
</div>

<div id="contenedor">

</div>
<script type="text/javascript">
    var container = document.getElementById('contenedor');

    function cambiarF() {
        container.innerHTML = "<div class='p-3' id='fr'><div><h1 class='display-2' style='font-family: 'Flamenco';font-size: 10px'> Digite una frase: </h1></div><form action={{ url_for( 'resultados') }} method = 'post'><div class='form-floating' style='padding: 15px'><textarea class='form-outline w-100 user_input' id='floatingTextarea2' name='user_input' style='height: 200px'></textarea><button type='submit' class='btn btn-dark'>Procesar</button></div></form></div>";
    }

    function cambiarC() {
        container.innerHTML = '<div id="fr"><form action = "/success2" method = "post" enctype="multipart/form-data"><input type="file" class="btn btn-dark" name="file" /> <input type = "submit" class="btn btn-dark"value="Upload"> </form>';
    }
    
    function cambiarD() {
        container.innerHTML = '<div id="fr"><form action = "/success" method = "post" enctype="multipart/form-data"><input type="file" class="btn btn-dark" name="file" /> <input type = "submit" class="btn btn-dark"value="Upload"> </form>';
    }

</script>

{% endblock %}