{% extends 'base.html' %} 

{% block content %}

<h1>Acerca De </h1>
   
<br>
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            @Camicodes
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>Camila Cedeño</b></h2>
                                    <p class="text-muted text-sm"><b>Estudiante en: </b> Ingeniería en Ciencias de la Computación </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 99 832 5684</li>
                                    </ul>
                                </div>
                                <div style="padding: 15px;" class="col-5 text-center">
                                    <img src="{{ c }}" alt="user-avatar" style="padding 5px" class="img-circle img-fluid" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            @Joselyncherrez
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>Joselyn Chérrez</b></h2>
                                    <p class="text-muted text-sm"><b>Estudiante en: </b> Ingeniería en Ciencias de la Computación </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 98 459 5106</li>
                                    </ul>
                                </div>
                                <div style="padding: 15px;" class="col-5 text-center">
                                    <img src="{{ j }}" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            @GusAdolf
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>Gustavo Contreras</b></h2>
                                    <p class="text-muted text-sm"><b>Estudiante en: </b> Ingeniería en Ciencias de la Computación</p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 98 465 0320</li>
                                    </ul>
                                </div>
                                <div style="padding: 15px;" class="col-5 text-center">
                                    <img src="{{ g }}" alt="user-avatar" class="img-circle img-fluid">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                @Eljoespro
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>Jonathan Guerra</b></h2>
                                        <p class="text-muted text-sm"><b>Estudiante en: </b> Ingeniería en Ciencias de la Computación </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 98 340 5286</li>
                                        </ul>
                                    </div>
                                    <div style="padding: 15px;" class="col-5 text-center">
                                        <img src="{{ jo }}" alt="user-avatar" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                @Alexisvg2520
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>Alexis Vallejo</b></h2>
                                        <p class="text-muted text-sm"><b>Estudiante en: </b> Ingeniería en Ciencias de la Computación </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 97 863 9792</li>
                                        </ul>
                                    </div>
                                    <div style="padding: 15px;" class="col-5 text-center">
                                        <img src="{{ a }}" alt="user-avatar" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->

</section>



<br>

{% endblock  %}